/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* COLORS ======= */
/*rgb(45,134,116) old forest green*/
/* EMS ======= */
@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot?x06ds1");
  src: url("../fonts/icons.eot?#iefixx06ds1") format("embedded-opentype"), url("../fonts/icons.woff?x06ds1") format("woff"), url("../fonts/icons.ttf?x06ds1") format("truetype"), url("../fonts/icons.svg?x06ds1#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-ThrilldernessWordmark:before {
  content: "\e600"; }

.icon-play:before {
  content: "\e606"; }

.icon-stop:before {
  content: "\e607"; }

.icon-pause:before {
  content: "\e608"; }

.icon-forward:before {
  content: "\e609"; }

.icon-backward:before {
  content: "\e60a"; }

.icon-right:before {
  content: "\e60d"; }

.icon-left:before {
  content: "\e60e"; }

.icon-up:before {
  content: "\e60f"; }

.icon-down:before {
  content: "\e610"; }

.icon-share:before {
  content: "\e614"; }

.icon-plus:before {
  content: "\e616"; }

.icon-close:before {
  content: "\e617"; }

.icon-check:before {
  content: "\e619"; }

.icon-export:before {
  content: "\e61a"; }

.icon-paperplane:before {
  content: "\e61c"; }

.icon-cc:before {
  content: "\e625"; }

.icon-github:before {
  content: "\e626"; }

.icon-vimeo:before {
  content: "\e627"; }

.icon-twitter:before {
  content: "\e628"; }

.icon-facebook:before {
  content: "\e629"; }

.icon-google:before {
  content: "\e62a"; }

.icon-tumblr:before {
  content: "\e62b"; }

.icon-export2:before {
  content: "\e61b"; }

.icon-location:before {
  content: "\e601"; }

.icon-map:before {
  content: "\e602"; }

.icon-heart:before {
  content: "\e604"; }

.icon-chat:before {
  content: "\e605"; }

.icon-search:before {
  content: "\e60b"; }

.icon-clock:before {
  content: "\e60c"; }

.icon-bolt:before {
  content: "\e615"; }

.icon-earth:before {
  content: "\e611"; }

.icon-cart:before {
  content: "\e612"; }

.icon-instagram:before {
  content: "\e62e"; }

body {
  font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
  font-size: .8em;
  text-align: left;
  color: #333333; }
  @media screen and (min-width: 32em) {
    body {
      font-size: 1em;
      line-height: 1.6667em; } }

/* Modular Scale 
---------------------- 
15px @ 1:1.5	 
30px @ 1:1.5	 
----------------------*/
article > h1, article > h2, article > h3 {
  color: black; }

h1 {
  font-size: 3.0000em;
  /* 45px */
  line-height: 1.1111em;
  /* 50px */
  margin-top: 0.5556em;
  margin-bottom: 0.0000em; }

h2 {
  font-size: 2.2500em;
  /* 33.75px */
  line-height: 1.25em;
  /* 50px */
  margin-top: 0.75em;
  margin-bottom: 0.2500em; }

h3 {
  font-size: 2.0000em;
  /* 30px */
  line-height: 1.6667em;
  /* 50px */
  margin-top: 0.8333em;
  margin-bottom: 0.0000em; }

h4 {
  font-size: 1.6667em;
  /* 25px */
  line-height: 1.0000em;
  /* 25px */
  margin-top: 1.0000em;
  margin-bottom: 1.0000em; }

h5 {
  font-size: 1.5000em;
  /* 22.5px */
  line-height: 1.1111em;
  /* 25px */
  margin-top: 1.1111em;
  margin-bottom: 0.0000em; }

h6 {
  font-size: 1.3333em;
  /* 20px */
  line-height: 1.2500em;
  /* 25px */
  margin-top: 1.2500em;
  margin-bottom: 0.0000em; }

p.intro {
  font-size: 1.3333em;
  /* 20px */
  line-height: 1.2500em;
  /* 25px */
  margin-top: 1.2500em;
  margin-bottom: 1.2500em; }
  @media screen and (min-width: 53.33333em) {
    p.intro {
      font-size: 1.5000em;
      /* 22.5px */
      line-height: 1.5em;
      /* 25px */
      margin-top: 1.1111em;
      margin-bottom: 1.1111em; } }

p {
  font-size: 1em;
  /* 15px */
  line-height: 1.6667em;
  /* 25px */
  margin: 0 0 1.6667em 0; }

small, ul, ol {
  font-size: 1em;
  /* 13.333px */
  line-height: 1.8750em;
  /* 25px */
  margin-top: 1.8750em;
  margin-bottom: 0.0000em; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 0 0 1.6667em 0;
  height: 0; }

blockquote {
  line-height: 175%;
  font-size: 1.15em;
  float: left;
  font-weight: 300;
  padding: 0 0 0 2em;
  margin: 1.5em 0 1.5em;
  border-left: 4px solid #ff4000;
  letter-spacing: -.01em; }
  blockquote p {
    margin: 0; }
  blockquote .author {
    font-size: .85em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .15em; }
  @media screen and (min-width: 53.33333em) {
    blockquote {
      font-size: 1.25em; } }

figcaption {
  font-size: 0.9em;
  font-style: italic;
  padding: 1.25em .75em .75em;
  line-height: 175%; }
  @media screen and (min-width: 53.33333em) {
    figcaption {
      font-size: 1em; } }

.run-in {
  font-size: .8em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .15em; }

.subscript {
  vertical-align: sub;
  font-size: 100%;
  margin-right: .4em;
  letter-spacing: .1em;
  line-height: 0em; }

/* ======================================================== LINKS / BUTTONS  */
button {
  border: none;
  outline: none;
  background-color: none;
  padding: .75em;
  margin: 0 1px; }

a {
  color: #ff4000; }

nav a {
  text-decoration: none;
  display: block; }

.lines-button {
  transition: .1s;
  cursor: pointer;
  user-select: none; }
  .lines-button:active {
    transition: 0; }

.lines {
  display: inline-block;
  width: 2em;
  height: 0.25em;
  background-color: #ff4000;
  border-radius: 0.16667em;
  transition: .1s;
  position: relative; }
  .lines:before, .lines:after {
    display: inline-block;
    width: 2em;
    height: 0.25em;
    background-color: #ff4000;
    border-radius: 0.16667em;
    transition: .1s;
    position: absolute;
    left: 0;
    content: '';
    -webkit-transform-origin: 0.14286em center;
    transform-origin: 0.14286em center; }
  .lines:before {
    top: 0.5em;
    width: 2em; }
  .lines:after {
    top: -0.5em;
    width: 2em; }

.lines-button:hover .lines:before {
  width: 2em; }
.lines-button:hover .lines:after {
  width: 2em; }

.lines-button.active {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }

*
.lines-button.x2 .lines {
  transition: background .1s .1s ease; }
  *
  .lines-button.x2 .lines:before, *
  .lines-button.x2 .lines:after {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transition: top .1s .2s ease, -webkit-transform .1s ease;
    transition: top .1s .2s ease, transform .1s ease; }

.lines-button.x2.active .lines {
  transition: background .1s 0s ease;
  background: transparent; }
  .lines-button.x2.active .lines:before, .lines-button.x2.active .lines:after {
    transition: top .1s ease, -webkit-transform .1s .2s ease;
    transition: top .1s ease, transform .1s .2s ease;
    top: 0;
    width: 2em; }
  .lines-button.x2.active .lines:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg); }
  .lines-button.x2.active .lines:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg); }

/* ======================================================== SEARCH FORMS */
.search-form {
  position: relative;
  padding: 0;
  margin: 0 1.5em;
  line-height: 1em;
  border: 4px solid #222222;
  background-color: black;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  -ms-border-radius: 50em;
  -o-border-radius: 50em;
  border-radius: 50em; }
  .search-form input {
    display: block;
    padding: 1em 0;
    outline: none;
    border: none; }
  .search-form .search-field {
    position: relative;
    padding: .75em 1em;
    text-align: left;
    font-size: 1.5em;
    background-color: transparent;
    color: #eeeeee;
    width: 70%; }
  .search-form .search-submit {
    opacity: .5;
    letter-spacing: .1em;
    font-weight: 700;
    line-height: 1em;
    position: absolute;
    font-size: 1em;
    padding: 1.5em;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #ff4000;
    color: white;
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    -ms-border-radius: 50em;
    -o-border-radius: 50em;
    border-radius: 50em;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -ms-transition-duration: .25s;
    -o-transition-duration: .25s;
    transition-duration: .25s; }
  .search-form .search-field:focus ~ .search-submit {
    opacity: 1; }

/* ======================================================== OPEN / CLOSE */
/* =========================================================================================== Menu Classes */
nav ul {
  margin: 0;
  padding: 0; }

.menu .menu-item {
  list-style-type: none;
  float: left; }
  .menu .menu-item a {
    padding: 1em 0; }

/* =========================================================================================== Site Layout */
.main-fluid {
  padding-top: 2em; }
  @media screen and (min-width: 53.33333em) {
    .main-fluid p {
      font-size: 1.25em;
      line-height: 1.6667em; } }

.col1, .col2, .col2wide, .col3,
.col4, .col5, .col6 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-indent: none;
  text-align: left;
  width: 100%; }
  .col1 > div, .col1 > li, .col2 > div, .col2 > li, .col2wide > div, .col2wide > li, .col3 > div, .col3 > li,
  .col4 > div,
  .col4 > li, .col5 > div, .col5 > li, .col6 > div, .col6 > li {
    float: left;
    width: 90%;
    padding: 1em 5%; }

@media screen and (min-width: 32em) {
  .col2 > div, .col2 > li, .col4 > div, .col4 > li, .col6 > div, .col6 > li {
    width: 45%;
    padding: 1em 2.5%; } }

@media screen and (min-width: 40em) {
  .col3 > div:first-child, .col3 > div:last-child, .col3 > li:first-child, .col3 > li:last-child, .col6 > div:first-child, .col6 > div:last-child, .col6 > li:first-child, .col6 > li:last-child {
    width: 29%;
    padding: 1em 4% 1em 0; }
  .col3 > div, .col3 > li, .col6 > div, .col6 > li {
    width: 30%;
    padding: 1em 4% 1em 0; } }

@media screen and (min-width: 53.33333em) {
  .col4 > div, .col4 > li {
    width: 20%;
    padding: 1em 5% 1em 0; } }

@media screen and (min-width: 53.33333em) {
  .col5 > div, .col5 > li {
    width: 15%;
    padding: 1em 5% 1em 0; } }

@media screen and (min-width: 53.33333em) {
  .col6 > div, .col6 > div:first-child, .col6 > div:last-child, .col6 > li, .col6 > li:first-child, .col6 > li:last-child {
    width: 13%;
    padding: 1em 3.66% 1em 0; } }

@media screen and (min-width: 53.33333em) {
  .col2wide > div, .col2wide > li {
    width: 45%;
    padding: 1em 2.5%; } }

/* ======================================================== Articles / Posts */
.title {
  text-align: left;
  font-weight: 800; }

.subtitle {
  text-align: left;
  font-weight: 300 !important; }

#content-index .title {
  font-size: 1.5em !important; }
  @media screen and (min-width: 53.33333em) {
    #content-index .title {
      font-size: 2em !important; } }
  #content-index .title a {
    text-decoration: none; }
#content-index .subtitle {
  font-size: 1em;
  margin-bottom: 0 !important; }
  @media screen and (min-width: 53.33333em) {
    #content-index .subtitle {
      font-size: 1.25em !important; } }

#content-single {
  margin-top: -2em; }
  #content-single .title {
    font-size: 1.5em !important;
    margin-bottom: .5em; }
    @media screen and (min-width: 40em) {
      #content-single .title {
        font-size: 2em !important;
        margin-bottom: 0; } }
    @media screen and (min-width: 53.33333em) {
      #content-single .title {
        font-size: 3em !important;
        margin-bottom: 0; } }
  #content-single .subtitle {
    font-size: 1.25em !important;
    margin-top: 0;
    padding-bottom: 1em; }
    @media screen and (min-width: 40em) {
      #content-single .subtitle {
        font-size: 1.5em !important; } }
    @media screen and (min-width: 53.33333em) {
      #content-single .subtitle {
        font-size: 2em !important; } }

.full-bleed {
  width: 100%;
  background-color: #222222;
  position: relative;
  overflow: hidden; }
  .full-bleed .image-wrap {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .75;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -ms-transition-duration: .25s;
    -o-transition-duration: .25s;
    transition-duration: .25s; }
    .full-bleed .image-wrap img {
      width: 100%; }
    @media screen and (min-width: 53.33333em) {
      .full-bleed .image-wrap {
        top: -25%; } }
    @media screen and (min-width: 66.66667em) {
      .full-bleed .image-wrap {
        top: -40%; } }
  .full-bleed:active .floating-text {
    opacity: 0; }
  .full-bleed:active .image-wrap {
    opacity: 1; }
  .full-bleed .floating-text {
    position: relative;
    margin: 0 auto;
    z-index: 2;
    margin: 1em auto;
    width: 90%;
    max-width: 50em;
    color: white;
    opacity: 1;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -ms-transition-duration: .25s;
    -o-transition-duration: .25s;
    transition-duration: .25s;
    padding: 10em 5% 0; }
    @media screen and (min-width: 40em) {
      .full-bleed .floating-text {
        padding: 14em 5% 1em; } }
    @media screen and (min-width: 53.33333em) {
      .full-bleed .floating-text {
        padding: 18em 5% 1em; } }

.floating-text.fixed {
  position: fixed;
  top: 2em;
  left: 5%; }

article {
  background-color: white;
  position: relative;
  width: 100%;
  text-align: left; }
  article .single-column {
    z-index: 10;
    position: relative;
    width: 90%;
    padding: 0 5%;
    margin: 1em auto;
    max-width: 50em; }
  article header, article footer {
    width: 90%;
    padding: 2em 5%;
    text-align: center; }
  article img {
    width: 100%; }
  article p.wp-caption-text {
    display: block;
    background-color: #222;
    padding: 1em;
    color: #eeeeee;
    font-weight: 300; }
  article aside {
    font-size: .85em;
    font-style: italic;
    padding: 1em 0;
    clear: both; }
    article aside img {
      float: left;
      width: 8em;
      margin: 0 1em;
      border: 2px solid white;
      -webkit-border-radius: 50em;
      -moz-border-radius: 50em;
      -ms-border-radius: 50em;
      -o-border-radius: 50em;
      border-radius: 50em; }
      @media screen and (min-width: 86.66667em) {
        article aside img {
          width: 100%;
          margin: 0 0 2em 0; } }
    @media screen and (min-width: 86.66667em) {
      article aside {
        position: absolute;
        width: 30%;
        right: -35%; } }
  article .speaker {
    display: block;
    margin-left: -4em;
    position: absolute;
    opacity: 0.5;
    text-transform: uppercase;
    font-size: .8em; }

.category ul, .tags ul {
  padding: 0;
  margin: 0; }
.category li, .tags li {
  list-style-type: none; }

.category li {
  float: left;
  margin-right: .75em; }
  .category li a {
    display: block;
    padding: .25em .5em;
    text-decoration: none;
    font-weight: 700;
    color: #eeeeee;
    background-color: black;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -ms-transition-duration: .25s;
    -o-transition-duration: .25s;
    transition-duration: .25s; }
    .category li a:hover {
      color: white; }

.tags {
  float: left;
  width: 100%; }
  .tags li a {
    padding: .25em 0; }

#pagination {
  padding: 0;
  margin: 1em; }
  #pagination div {
    float: left;
    width: 50%;
    text-align: center;
    height: auto; }

#comments {
  position: relative;
  width: 90%;
  padding: 0 5%;
  margin: 1em auto;
  max-width: 50em; }
  #comments p {
    font-size: 1em; }
  #comments h3 {
    font-size: 1.25em;
    margin: 0 0 1em 0; }
  #comments .comment-author img {
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    -ms-border-radius: 50em;
    -o-border-radius: 50em;
    border-radius: 50em; }
  #comments .commentlist {
    padding: 0; }
  #comments textarea {
    width: 100%;
    height: 5em;
    outline: none; }
  #comments #submit {
    padding: .5em .75em;
    margin: 0 0 1em 0;
    background-color: #ff4000;
    border: 1px solid #b32d00;
    outline: none;
    color: white;
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    -ms-border-radius: 50em;
    -o-border-radius: 50em;
    border-radius: 50em; }

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative; }

.swipe-wrap {
  overflow: hidden;
  position: relative; }

.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative; }

/* =========================================================================================== Site Header */
#site-header {
  position: relative;
  background-color: white; }
  #site-header a {
    text-decoration: none;
    color: #333333; }

#masthead {
  position: relative;
  border-bottom: 1px solid #888888; }
  #masthead #menu-toggle {
    float: left;
    display: block;
    padding: 2em;
    position: relative;
    background-color: white;
    border-right: 1px solid #888888; }
    #masthead #menu-toggle span {
      position: absolute;
      top: 1.85em;
      left: 1em; }
    @media screen and (min-width: 53.33333em) {
      #masthead #menu-toggle {
        display: none; } }
  #masthead #brand {
    float: left;
    padding: 0;
    margin: 0; }
    #masthead #brand h1.site-title {
      padding: .5em;
      margin: 0;
      line-height: .75em;
      font-size: 2em; }
  #masthead #search-toggle {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 2em;
    border-left: 1px solid #888888; }
    #masthead #search-toggle span {
      position: absolute;
      font-size: 1.75em;
      top: .65em;
      left: .65em;
      color: #ff4000; }

#menu-primary {
  margin: 0; }

#menu-primary {
  margin: 0;
  padding: 0;
  background-color: #222222; }
  #menu-primary a {
    padding: .75em 1em;
    color: #888888;
    font-weight: 700; }

#site-nav, #site-nav.closed {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-x: scroll;
  z-index: 1000;
  background-color: white; }
  #site-nav div, #site-nav.closed div {
    float: left; }
  #site-nav li, #site-nav.closed li {
    float: left; }
  #site-nav a, #site-nav.closed a {
    display: block;
    padding: 1em;
    line-height: 2em;
    border-bottom: 1px solid #888888; }
  @media screen and (min-width: 53.33333em) {
    #site-nav, #site-nav.closed {
      position: static;
      float: left;
      border-left: 1px solid #888888; }
      #site-nav li, #site-nav.closed li {
        float: left; }
      #site-nav a, #site-nav.closed a {
        border-bottom: none;
        border-right: 1px solid #888888; } }

#site-nav.open {
  max-width: 75%;
  background-color: white; }

@media screen and (min-width: 53.33333em) {
  #site-nav.closed {
    max-width: auto; } }

body.overflow-hidden {
  overflow: hidden; }

> body {
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
  -ms-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s;
  width: 100%; }

body.menu-open {
  margin-left: 75%; }

body.menu-closed {
  margin: 0; }

#search {
  z-index: 398;
  width: 100%;
  display: none; }

#search.open {
  padding: 1em;
  max-height: auto; }

#search.closed {
  max-height: 0;
  z-index: -2; }

#menu-categories a {
  color: #888888;
  font-weight: 700; }

#nav-tags {
  font-size: 1em;
  font-weight: 400; }
  #nav-tags ul {
    margin: 0;
    padding: 0;
    padding: .25em 1em .5em 1em; }
  #nav-tags li {
    float: left;
    width: 100%;
    padding: 0;
    text-align: left; }
    @media screen and (min-width: 40em) {
      #nav-tags li {
        width: 50%; } }
    #nav-tags li a {
      font-size: 1.25em;
      display: block;
      background-color: white;
      margin: 1px;
      padding: .5em 0; }
      #nav-tags li a:before {
        content: "#";
        margin: 0 .5em; }

/* =========================================================================================== Site Footer */
/* ================================== Email */
#site-footer {
  color: #888888;
  background-color: #222222;
  background-image: url(img/dark_wall.jpg); }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    #site-footer {
      background-image: url(img/dark_wall_@2X.jpg); } }
  #site-footer #big-email {
    text-align: left;
    padding: 1em 0; }
    #site-footer #big-email li {
      float: left;
      width: 50%; }
    #site-footer #big-email a {
      font-size: 1.25em;
      text-decoration: underline;
      color: #888888; }
      #site-footer #big-email a:hover, #site-footer #big-email a:active {
        color: #eeeeee; }
  #site-footer .mc-field-group {
    margin: .5em 0; }
    #site-footer .mc-field-group input {
      outline: none;
      width: 90%;
      padding: .75em 5%; }
  #site-footer #emailaddress {
    float: left;
    width: 75%;
    margin: 1em 0; }
    #site-footer #emailaddress input {
      width: 100%;
      padding: 1em 2.5%;
      background-color: #333333;
      border: none;
      outline: none;
      -webkit-border-top-left-radius: .5em;
      -webkit-border-bottom-left-radius: .5em;
      -moz-border-radius-topleft: .5em;
      -moz-border-radius-bottomleft: .5em;
      border-top-left-radius: .5em;
      border-bottom-left-radius: .5em; }
      #site-footer #emailaddress input:focus, #site-footer #emailaddress input:active {
        background-color: #888888; }
  #site-footer #submitemail {
    float: left;
    width: 25%; }
  #site-footer #mc-embedded-subscribe {
    margin: 1em 0;
    padding: 1em .75em;
    background-color: #ff4000;
    border: none;
    outline: none;
    min-width: 80%;
    -webkit-border-top-right-radius: .5em;
    -webkit-border-bottom-right-radius: .5em;
    -moz-border-radius-topright: .5em;
    -moz-border-radius-bottomright: .5em;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em; }
  #site-footer #firstname {
    float: left;
    width: 47.5%;
    margin-right: 2.5%; }
  #site-footer #lastname {
    float: left;
    width: 47.5%;
    margin-left: 2.5%; }
  #site-footer .indicates-required {
    float: right; }
  #site-footer .asterisk {
    color: #888888; }
  #site-footer #footer-nav {
    background-color: #888888;
    width: 95%;
    padding: 1em 2.5%; }
    #site-footer #footer-nav li {
      float: left; }
      #site-footer #footer-nav li a {
        padding: .5em;
        margin: 1px; }
  #site-footer #footer-secondary {
    text-align: center;
    padding: 1em 0;
    color: #888888;
    border-top: 1px dotted #333333;
    background-color: rgba(0, 0, 0, 0.25); }
    #site-footer #footer-secondary small {
      display: block;
      width: 95%;
      margin: 0;
      padding: 1em 2.5%;
      font-size: .8em; }
      @media screen and (min-width: 53.33333em) {
        #site-footer #footer-secondary small {
          float: left;
          width: 25%; }
          #site-footer #footer-secondary small:first-child, #site-footer #footer-secondary small:last-child {
            width: 30%; } }
    #site-footer #footer-secondary #social a {
      display: inline-block;
      font-size: 1.75em;
      padding: 0 .75em;
      line-height: 150%;
      color: #888888; }
      #site-footer #footer-secondary #social a:hover, #site-footer #footer-secondary #social a:active {
        color: #eeeeee; }
      @media screen and (min-width: 53.33333em) {
        #site-footer #footer-secondary #social a {
          display: block;
          float: left; } }
    #site-footer #footer-secondary #signature {
      text-transform: uppercase;
      letter-spacing: .15em; }
    #site-footer #footer-secondary #copyright a {
      display: inline;
      text-decoration: underline;
      color: #888888; }
    @media screen and (min-width: 53.33333em) {
      #site-footer #footer-secondary #copyright {
        text-align: right; } }

/* ================================== Index */
.grid-unit {
  float: left;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
  -ms-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s; }
  .grid-unit:before {
    content: "";
    display: block;
    padding-top: 50%;
    /* initial ratio of 1:1*/ }
  .grid-unit .content-wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 1em; }
  .grid-unit a {
    text-decoration: none;
    color: white; }
  @media screen and (min-width: 40em) {
    .grid-unit {
      width: 50%; }
      .grid-unit:before {
        padding-top: 80%;
        /* initial ratio of 1:1*/ } }
  @media screen and (min-width: 60em) {
    .grid-unit {
      width: 33.33%; }
      .grid-unit:before {
        padding-top: 100%;
        /* initial ratio of 1:1*/ } }
  @media screen and (min-width: 80em) {
    .grid-unit {
      width: 25%; } }

#content-index .post {
  background-color: #888888;
  z-index: 1; }
#content-index .category-adventure .post {
  background-color: #ff540d; }
#content-index .category-adventure .content-wrap {
  background-color: #ff540d;
  background-color: rgba(255, 84, 13, 0.85); }
#content-index .category-diy .post {
  background-color: #183913; }
#content-index .category-diy .content-wrap {
  background-color: #183913;
  background-color: rgba(24, 57, 19, 0.85); }
#content-index .category-perspective .post {
  background-color: #c2e0eb; }
#content-index .category-perspective .content-wrap {
  background-color: #c2e0eb;
  background-color: rgba(194, 224, 235, 0.85); }
#content-index .category-snapshot .post {
  background-color: black; }
#content-index .category-snapshot .content-wrap {
  color: white;
  color: rgba(255, 255, 255, 0.75); }
#content-index .category {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }
#content-index .post-date {
  position: absolute;
  top: 0;
  right: 0;
  padding: .5em 1em;
  color: white; }
#content-index .post-author {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: .5em 1em;
  color: white; }
#content-index .post-comments {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: .5em 1em;
  color: white; }

.adventure {
  background-color: white; }

.diy {
  background-color: black; }

.perspective {
  background-color: #333333; }

.grid-unit.first, .grid-unit.featured {
  width: 100%; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden, .screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .screen-reader-text.focusable:active,
.visuallyhidden.focusable:focus, .screen-reader-text.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

body > section:before, .clearfix:before, .menu:before,
body > section:after, .clearfix:after, .menu:after {
  content: " ";
  display: table; }

body > section:after, .clearfix:after, .menu:after {
  clear: both; }

body > section, .clearfix, .menu {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
