/* Table of Contents
// 01 Mixins
// 02 Typography
// 03 Helper Classes
// 04 Global Functions
// 05 Modules
// 06 Layout Classes
// 07 Custom / One Off / Art-Directed Classes
// 08 Print Styles
*/

/* 
//////////////////////////////////////////////////////////////////////////////// 01 MIXINS 
*/

/* COLORS ======= */
$text-color: #333;

//Neutrals
$black: #000;
$dark-grey: #222222;
$medium-grey: #888888;
$medium-grey-alt:#999999;
$light-grey: #EEEEEE;
$white: #FFF;
$translucent-white:rgba(255,255,255,.9);
$translucent-black:rgba(0,0,0,.9);
$translucent-action-color:rgba(28,84,77,.9);

$offwhite:rgb(240,233,209);
$red:#ff4000;
$forest:rgb(24,57,19);
$cerulean:rgb(28,84,77);
$aqua:rgb(45,134,116);
$sky:rgb(194,224,235);
$old-green:rgba(28,84,77,1);

//Action Colors
$action-color:#ff4000;
/*rgb(45,134,116) old forest green*/


$safetyorange:#ff540d;



/* EMS ======= */
@function em($target, $context: 15) {
    @return ($target / $context) * 1em;
}

@mixin full-bleed-background{
background-position:50% 0;
background-size:cover;
background-repeat:no-repeat;
}

@mixin quarter-second-transition{
-webkit-transition-duration: .25s;
-moz-transition-duration: .25s;
-ms-transition-duration: .25s;
-o-transition-duration: .25s;
transition-duration: .25s;
}

@mixin half-second-transition{
-webkit-transition-duration: .5s;
-moz-transition-duration: .5s;
-ms-transition-duration: .5s;
-o-transition-duration: .5s;
transition-duration: .5s;
}

@mixin half-em-border-radius{
-webkit-border-radius: .5em;
-moz-border-radius: .5em;
-ms-border-radius: .5em;
-o-border-radius: .5em;
border-radius:.5em;
}


@mixin one-em-border-radius{
-webkit-border-radius: 1em;
-moz-border-radius: 1em;
-ms-border-radius: 1em;
-o-border-radius: 1em;
border-radius:1em;
}

@mixin perfect-circle{
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	-ms-border-radius: 50em;
	-o-border-radius: 50em;
	border-radius:50em;
}

@mixin drop-shadow{
-webkit-box-shadow: 0 0.1em 0.4em rgba(0,0,0,0.5); //, 0 0.1em 0.4em $black;
-moz-box-shadow: 0 0.1em 0.4em rgba(0,0,0,0.5); //, 0 0.1em 0.4em $black;
-ms-box-shadow: 0 0.1em 0.4em rgba(0,0,0,0.5); //, 0 0.1em 0.4em $black;
-o-box-shadow: 0 0.1em 0.4em rgba(0,0,0,0.5); //, 0 0.1em 0.4em $black;
box-shadow: 0 0.1em 0.4em rgba(0,0,0,0.5); //, 0 0.1em 0.4em $black;
}

@mixin triangle-up{	
	/*Up pointing*/
	.triangle-up {
		display:block;
	    width: 13.4%;
	    height: 0;    
	    padding-left:13.4%;
	    padding-bottom: 13.4%;
	    overflow: hidden;
	}
	.triangle-up:after {
	    content: "";
	    display: block;
	    width: 0;
	    height: 0;
	    margin-left:-288.68px;
	    border-left: 288.68px solid transparent;
	    border-right: 288.68px solid transparent;
	    border-bottom: 500px solid $action-color;
	}
	
	/*
	//For an equilateral triangle it's worth pointing out that the height is 86.6% of the 
	//width so (border-left-width + border-right-width) * 0.866% = border-bottom-width
	*/
	
}


