
/* ==========================================================================
   Author's custom styles
   ========================================================================== */


@import "mixins";
@import "typography";
@import "modules";



// TYPE & TEXT
body{
	background-color: $white;
	color:$dark-grey;
}
nav {
	ul{
	    margin:0;
	    padding:0;	
		li{
			list-style-type:none;
			float:left;
		}
	}
	a{
		text-decoration:none;
	}
}
a{	
	&:hover{
		color:$dark-grey;
	}
	
	&:active{
		color:$black;
	}
	
	&:visited{
		color:$medium-grey;
	}
}
label {
    //float: left;
    //text-align: right;
    //margin-right: 1em;
    //width:(em(100));
}
input{
	//margin:1em 0;
	//outline:none;
	//padding:1em 0;
	////height:2em;
	//font-size:1em;
}
input[type="text"] {
//width: 60%;
//background: none;
//border: 1px solid white;
//border-radius: 4px;
//padding: 1em 5%;
//-webkit-transition: border-color 0.2s;
//-moz-transition: border-color 0.2s;
//transition: border-color 0.2s;
}
input[type="submit"], .inline-button {
//color: white;
//padding: 1em 0;
//text-align:center;
//width:25%;
//text-decoration: none;
//border-radius: 4px;
//font-weight: 700;

}

// HEADER
#site-header{
	position:fixed;
	top:0;
	width:100%;
		#logo{
			display:block;
			//font-size:1em;
			text-align:center;
			margin:0 auto;
			width:50%;
		}	
}

// LAYOUT
#main{
	position:relative;
}

#intro{
	background-image:url(../img/home_hero.jpg);
	@include full-bleed-background;
	.frame{
		//display:none;
		//background-color:$green;
		a{
			display:block;
			color:$green;
			text-decoration:none;
		}
	}
	.image-filter{
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		background-clip:text;
		-webkit-background-clip:text;
		background-image:url(../img/home_hero.jpg);
		-webkit-text-fill-color: transparent;
		@include full-bleed-background;
		//-webkit-mask-image: url(../img/mask.png);
	}
	#logo-mask{
		
		text-align:center;
		width:100%;
		h1{
			//position:fixed;
			font-size:12em;
			margin:1em 0;
		}
	}
	
}

#quote{
	position:relative;
	background-image:url(../img/quote_bg_2000.jpg);
	@include full-bleed-background;
	color:$white;
	.frame{
		position:relative;
		z-index:2;
	}
	figure{
		margin:0 auto;
		padding:0;
		width:(em(250));
		@media screen and (min-width:(em(500))){
			width:(em(300));
		}
		@media screen and (min-width:(em(800))){
			width:(em(600));
		}
		@media screen and (min-width:(em(1400))){
			width:(em(1000));
		}
	}

	
	.color-filter{
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		background-color:$green;
		opacity:.65;
		z-index:1;
	}
}
#definition{
	position:relative;
	//background-color:$light-grey;
	.frame{
		background-color:$green;
		width:(em(360));
		height:(em(360));
		padding:0;
		line-height:1em;
		border:.5em double $black;
		@include perfect-circle;
	}
	h1,h2{
	    font-size:2.5em;
		margin:1.75em 0 .75em 0;

	}
	p{
		font-size:1.5em;
	}
	#want-in{
		position:absolute;
		display:block;
		bottom:2em;
		right:2em;	
		font-family:"proxima-nova-condensed", tahoma, sans-serif;
		font-weight:800;
		font-size:2em;
		margin:0;
		text-decoration:none;
		color:$black;
	}
}

#sign-up{
	background-color:$dark-grey;
	color:$medium-grey;
	
	.frame{
		max-width:(em(600));
	}
	
	
	h1,h2,h3{
		color:$green;
	}
	.indicates-required{
		text-align:right;
		color:$text;
		//font-size:.75em;
	}
	#TTP{
		font-family:"proxima-nova-condensed", tahoma, sans-serif;
		font-weight:800;
		text-align:center;
		margin:1em 0 0 0;
		line-height:1em;
		color:$green;
	}
	p{
		text-align:center;
		//font-size:1em;
		//line-height:1.25em;
	}
	a{
		font-weight:800;
		color:$medium-grey;
		text-decoration:none;
		border-bottom:1px solid $green;
		&:hover{
			color:$green;
			
		}
	}
	.mc-field-group{
		margin:0;
		padding:.5em 0;
		//text-align:left;
		
		
		
		label{
			margin:0;
			padding:0;
			text-indent:none;
			font-weight:bold;
			font-family:"proxima-nova-condensed", tahoma, sans-serif;
			text-align:center;
		}
		input{
			width:100%;
			margin:.5em 0 0 0;
			padding:.5em;
			outline:none;
			-webkit-border:none;
			background-color:$light-grey;
			&:focus{
				background-color:$white;
			}
		}
		select{
		display:block;
		outline:none;
		-webkit-border:none;
		border:.5em solid $light-grey;
		background-color:$light-grey;
		&:focus{
			background-color:$white;
			border:.5em solid $white;
		}
		margin:.5em 0;
		padding:0;
		width:100%;	
		}
		ul{
			margin:.25em 0;
			width:100%;
		}
		li{
			float:left;
			margin:0 2em 0 0;
			//width:25%;
		}
		input[type="radio"]{
			float:left;
			width:auto;
			margin:.5em 1em 0 0;
		}
		
	}
	.mc-field-group.left{
		float:left;
		width:47.5%;
		margin:0 2.5% 0 0;
	}
	.mc-field-group.right{
		float:left;
		width:47.5%;
		margin:0 0 0 2.5%;
	}
	input[type="submit"], .inline-button{
		background-color:$green;
		border:none;
		display:block;
		padding: 1em!important;
		text-align:center;
		margin:0 auto;
		outline:none;
		-webkit-border:none;
		@include half-em-border-radius;
	}
	
	
	.mc-address-group{
		@include half-second-transition;
		max-height:auto;
		opacity:1;
		&.hidden{
			max-height:0;
			opacity:0;
			@include half-second-transition;
		}
	}
	
}


// FOOTER
#site-footer{
    float:left;
	width:90%;
    text-align:center;
	padding:1em 0;
	margin:0 5%;
	ul{
		color:$text;
		font-size: 1em;
		margin:0 auto;
		max-width:(em(300));			
		li{
			float:left;
			text-align:center;
			margin:1em 0;
			width:33.333%;
			a{
				text-decoration:none;
			
			}
	 }
}
		
	
	
	#newsletter{
		padding:0 1.6667em 1.6667em 1.6667em;	
		margin: 0 0 1.6667em 0;
			@media screen and (min-width: (em(800))){
			width:39%;
			padding:0 5%;
			float:left;
			}
	}
	#copyright{
		width:100%;
	}

}




/* ==========================================================================
   Helper classes
   ========================================================================== */

.overflow-hidden{
	overflow:hidden;
}
.full-width{
	padding:0;
	width:100%;
	margin:1.6667em 0;
}




.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}