
/* ==========================================================================
   Author's custom styles
   ========================================================================== */


@import "mixins";
@import "typography";
@import "modules";

// TYPE & TEXT
body{
	background-color: $white;
	color:$dark-grey;
	font-size:1rem;
}
nav {
	ul{
	    margin:0;
	    padding:0;	
		li{
			list-style-type:none;
			float:left;
		}
	}
	a{
		text-decoration:none;
	}
}
a{	
	&:hover{
		color:$dark-grey;
	}	
	&:active{
		color:$black;
	}
	&:visited{
		color:$medium-grey;
	}
}

// HEADER
#site-header{
	position:fixed;
	top:0;
	width:100%;
		#logo{
			display:block;
			//font-size:1em;
			text-align:center;
			margin:0 auto;
			width:50%;
		}	
}

// LAYOUT
#main{
	position:relative;
}
section{
	padding:0rem 0;
}
#intro{
	padding:0;
	.full-screen-content{
		padding:0;
	}
}
#intro{
	.image-filter{
		//position:fixed;
		top:0;
		bottom:0;
		left:0;
		right:0;
		padding:0;
		background-clip:text;
		-webkit-background-clip:text;
		background-image:url(../img/home_hero.jpg);
		-webkit-text-fill-color: transparent;
		//@include full-bleed-background;
		background-size:cover;
		background-position:50% 25%;
		background-repeat: repeat;
	}	
	#logo-mask{
		text-align:center;
		width:100%;
		margin:auto;
		
		h1{
			font-size:4em;
			font-weight:700;
			margin:0 0;
			padding:0;
			@media screen and (min-width:(em(600))){
				font-size:6em;
			}
			@media screen and (min-width:(em(800))){
				font-size:8em;
			}
			@media screen and (min-width:(em(1400))){
				font-size:10em;
			}
		}
	}
		
}
#logo{
	margin-top:5rem;
	img{
		width:50%;
		margin:0 auto;
	}
}
#primary{
	width:80%;
	margin:0 auto;
	max-width:40rem;
	ul{
		width:100%;
		li{
			width:50%;
			text-align:center;
			a{
				position:relative;
				font-family:'proxima-nova-condensed',helvetica,arial,sans-serif;
				font-weight:600;
				font-size:1.25em;
				line-height:6em;
				text-align:center;
				
				display:block;
				width:6em;
				height:6em;				
				margin:0 auto;
				padding:0;	
				box-sizing:border-box;
				-webkit-box-sizing:border-box;
				&:after{
					position:absolute;
					display:block;
					content:' ';
					z-index:-1;
					top:0;
					left:0;
					right:0;
					bottom:0;
					border:2px solid $green;
					@include quarter-second-transition;
					@include perfect-circle;
					color:$green;
					box-sizing:border-box;
					box-sizing:-webkit-border-box;
					
				}
				&:hover{
					color:$white;
					&:after{
						border:3em solid $green;
						background-color:$green;
						color:$white;
						box-sizing:border-box;
						-webkit-box-sizing:border-box;
					}
				}
				&:active{
					&:after{
						border:3em solid $black;
						background-color:$black;
					}
				}			
			}
		}
	}
}

//FEELS
#feels{
	figure{
		float:left;
		width:100%;
		@media screen and (min-width:(em(600))){
			width:33.333%;
		}
	}
	figcaption{
		position:absolute;
	}
}
#quote{
	width:100%;
	background-image:url(../img/quote_bg_800.jpg);
	min-height:20rem;
	@include full-bleed-background;
	figure{
		color:$white;
		margin:auto;
		padding:10rem 0;
		width:(em(250));
		@media screen and (min-width:(em(500))){
			width:(em(300));
		}
		@media screen and (min-width:(em(800))){
			width:(em(600));
		}
		a{
			color:$black;
			font-weight:bold;
			&:hover,&:active{
				color:$white;
			}
		}
	}
}

h2{
	padding: 3rem;
	margin:0 auto;
}

//SIGN UP & SOCIAL
form{
	margin:2em 0;
}
#sign-up{
	background-color:$white;
	color:$medium-grey;
	padding:10rem 0 2rem 0;
	font-size:1rem;
	.frame{
		max-width:(em(600));
		margin:1rem auto;
		padding:0 2em;
	}
}
.mc-field-group{
	font-family:"proxima-nova-condensed", tahoma, sans-serif;
	margin:0;
	padding:.5em 0;	
	text-align:left;
	label{
		float:left;
		width:100%;
		margin:0;
		padding:.5em 0;
		text-indent:none;
		font-weight:400;
		font-family:"proxima-nova-condensed", arial, tahoma, sans-serif;
		text-align:left;
		font-size:1rem;
		color:$medium-grey;
	}	
}
input:-webkit-autofill{
		background-color:$white;
}
input[type="email"]{
	font-family:"proxima-nova-condensed", arial, tahoma, sans-serif;
	float:left;
	width:75%;
	font-weight:600;
	//margin:.5em 0 0 0;
	font-size:1rem!important;
	padding:1em!important;
	border-left:2px solid $green;
	border-bottom:2px solid $green;
	border-top:2px solid $green;
	border-right:none;
	box-sizing:border-box;
	outline:none;
	-webkit-border:none;
	&:focus{
		background-color:$white;
	}
}
input[type="submit"]{
	font-family:"proxima-nova-condensed", arial, tahoma, sans-serif;
	font-weight:600;
	background-color:$green;
	float:left;
	width:25%;
	box-sizing:border-box;
	border:2px solid $green;
	display:block;
	font-size:1rem!important;
	padding: 1em!important;
	text-align:center;
	margin:0 auto;
	outline:none;
	letter-spacing:.1em;
	&:hover, &:active{
		color:$white;
	}
	&:active{
		background-color:$black;
	}
}
#social-links{
	width:10rem;
	margin:1rem auto;
	ul{
		width:100%;
		li{
			width:33.333%;
			text-align:center;
		}
	}
}
#site-footer{
	h3{color:$white;}
	background-color:$dark-grey;
	color:$medium-grey;
	text-align:center;
	padding:5rem 0;
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

.overflow-hidden{
	overflow:hidden;
}
.full-width{
	padding:0;
	width:100%;
	margin:1.6667em 0;
}
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}