
/* ==========================================================================
   Author's custom styles
   ========================================================================== */


@import "mixins";
@import "typography";
@import "modules";

// TYPE & TEXT
body{
	background-color: $white;
	color:$dark-grey;
}
nav {
	ul{
	    margin:0;
	    padding:0;	
		li{
			list-style-type:none;
			float:left;
		}
	}
	a{
		text-decoration:none;
	}
}
a{	
	&:hover{
		color:$dark-grey;
	}
	
	&:active{
		color:$black;
	}
	
	&:visited{
		color:$medium-grey;
	}
}
label {
    //float: left;
    //text-align: right;
    //margin-right: 1em;
    //width:(em(100));
}
input{
	//margin:1em 0;
	//outline:none;
	//padding:1em 0;
	////height:2em;
	//font-size:1em;
}
input[type="text"] {
//width: 60%;
//background: none;
//border: 1px solid white;
//border-radius: 4px;
//padding: 1em 5%;
//-webkit-transition: border-color 0.2s;
//-moz-transition: border-color 0.2s;
//transition: border-color 0.2s;
}
input[type="submit"], .inline-button {
//color: white;
//padding: 1em 0;
//text-align:center;
//width:25%;
//text-decoration: none;
//border-radius: 4px;
//font-weight: 700;

}

// HEADER
#site-header{
	position:fixed;
	top:0;
	width:100%;
		#logo{
			display:block;
			//font-size:1em;
			text-align:center;
			margin:0 auto;
			width:50%;
		}	
}
// LAYOUT
#main{
	position:relative;
}
/* ==========================================================================
   Intro Section
   ========================================================================== */
#intro{
	background-image:url(../img/home_hero.jpg);
	//@include full-bleed-background;
	background-size:cover;
	background-position:50% 20%;
	.frame{
		figure{
			margin:0 auto 1em;
			padding:0;
			width:(em(250));
			@media screen and (min-width:(em(500))){
				width:(em(300));
			}
			@media screen and (min-width:(em(800))){
				width:(em(600));
			}
			@media screen and (min-width:(em(1400))){
				//width:(em(1000));
			}
			
			a{
				color:$black;
				font-weight:bold;
			}
		}
		#arrow{
			position:absolute;
			top:7em;
			left:0;
			right:0;		
			z-index:1000;
			.wrap{
				display:block;
				cursor:pointer;
				color:$black;
				text-decoration:none;
				width:4em;
				margin:0 auto;
				img{
					width:100%;
				}	
			}			
		}
	}
	.image-filter{
		position:fixed;
		top:0;
		bottom:0;
		left:0;
		right:0;
		background-clip:text;
		-webkit-background-clip:text;
		background-image:url(../img/home_hero.jpg);
		-webkit-text-fill-color: transparent;
		//@include full-bleed-background;
		background-size:cover;
		background-position:50% 25%;
		background-repeat: repeat;
	}	
	#logo-mask{
		text-align:center;
		width:100%;
		margin:auto;
		h1{
			font-size:4em;
			margin:0 0;
			padding:0;
			@media screen and (min-width:(em(600))){
				font-size:6em;
			}
			@media screen and (min-width:(em(800))){
				font-size:8em;
			}
			@media screen and (min-width:(em(1400))){
				font-size:10em;
			}
		}
	}	
}
#intro-arrow{
	display:block;
	//opacity:.5;
	-webkit-animation: myfirst 8s ease-in-out 1s infinite alternate; /* Chrome, Safari, Opera */
	animation: myfirst 8s ease-in-out 1s infinite alternate; /* Standard syntax */
}
@-webkit-keyframes myfirst {
    0%   {padding-top:0;}
    05%  {padding-top:.5em;}
	10%  {padding-top:0;}
	90%  {padding-top:0;}
	95%  {padding-top:.5em;}
    100% {padding-top:0;}
}
/* ==========================================================================
   Question Section
   ========================================================================== */
#question{
	position:relative;
	background-image:url(../img/quote_bg_2000.jpg);
	@include full-bleed-background;
	color:$white;
	.frame{
		position:relative;
		z-index:2;
	}
	a{
		color:$white;
		text-decoration:none;
		//border-bottom:1px solid $black;
		&:hover{
			//color:$black;
		}
	}
	h1{
		color:$white;
	}
	

	.color-filter{
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		background-color:$green;
		opacity:.75;
		z-index:1;
	}
	#definition-link{
		display:block;
		position:absolute;
		bottom:0;
		left:0;
		text-align:center;
		padding:1em;
		text-decoration:none;
		border:none;
		z-index:2;
		font-weight:bold;
	}
}

#because{
	background-color:$black;
	color:$green;
	font-family:'proxima-nova-condensed', helvetica, arial, sans-serif;
	a{
		color:$green;
		font-weight:bold;
	}
}
#reasons{
	font-size:1.5em;
}
.two-columns{
	li{
		float:left;
		width:50%;
	}
}

/* ==========================================================================
   Definition Section
   ========================================================================== */
#definition{
	position:relative;
	background-color:$light-grey;
	background-image:url(../img/cartographer.jpg);
	text-align:center;
	.frame{
		p{
			font-family:'proxima-nova-condensed', helvetica, sans-serif;
		}
	}
	.circle{
		background-color:$green;
		width:(em(300));
		padding:0 0 3em;
		margin: 0 auto;
		line-height:1em;
		border:.5em solid $black;
		@media screen and (min-width:(em(700))){
			width:(em(360));
			height:(em(360));
			padding:0;
			@include perfect-circle;
		}
		
		h1,h2{
			color:$white;
		    font-size:2.5em;
			margin:2.125em 0 .75em 0;

		}
		p{
			font-size:1.5em;
		}
		
	}
	.stretch-arrow-down{
		position:relative;
		height:6em;
		width:.125em;
		margin:0 auto 3em;
		background-color:$black;
		&:before,&:after{		
			position:absolute;
			display:block;
			content:' ';
			background-color:$black;
			height:3em;
			width:.125em;
			bottom:-.5em;
			border-radius:.125em
		}
		&:before{
			left:-1em;
			transform:rotate(-45deg);
		}
		&:after{
			right:-1em;
			transform:rotate(45deg);
		}
	}
	#want-in{
		text-align:center;	
		font-family:"proxima-nova-condensed", tahoma, sans-serif;
		font-weight:800;
		font-size:2em;
		margin:0;
		text-decoration:none;
		color:$black;
	}
}

/* ==========================================================================
   Sign Up Form
   ========================================================================== */
#sign-up{
	background-color:$white;
	color:$medium-grey;
	.frame{
		max-width:(em(600));
	}
	
	h1,h2,h3{
		color:$green;
	}
	.indicates-required{
		text-align:right;
		color:$text;
		//font-size:.75em;
	}
	#TTP{
		font-family:"proxima-nova-condensed", tahoma, sans-serif;
		font-weight:800;
		text-align:center;
		margin:1em 0 0 0;
		line-height:1em;
		color:$green;
	}
	p{
		text-align:center;
	}
	a{
		font-weight:800;
		color:$medium-grey;
		text-decoration:none;
		border-bottom:1px solid $green;
		&:hover{
			color:$green;
			
		}
	}
	.mc-field-group{
		margin:0;
		padding:.5em 0;	
		text-align:left;
		label{
			margin:0;
			padding:0;
			text-indent:none;
			font-weight:bold;
			font-family:"proxima-nova-condensed", tahoma, sans-serif;
			text-align:center;
		}
		input{
			width:100%;
			margin:.5em 0 0 0;
			padding:.5em;
			border:2px solid $black;
			outline:none;
			-webkit-border:none;
			//background-color:$light-grey;
			&:focus{
				background-color:$white;
			}
		}
		select{
		display:block;
		outline:none;
		-webkit-border:none;
		border:.5em solid $light-grey;
		background-color:$light-grey;
		&:focus{
			background-color:$white;
			border:.5em solid $white;
		}
		margin:.5em 0;
		padding:0;
		width:100%;	
		}
		ul{
			margin:.25em 0;
			width:100%;
		}
		li{
			float:left;
			margin:0 2em 0 0;
			//width:25%;
		}
		input[type="radio"]{
			float:left;
			width:auto;
			margin:.5em 1em 0 0;
		}
		
	}
	.mc-field-group.left{
		float:left;
		width:47.5%;
		margin:0 2.5% 0 0;
	}
	.mc-field-group.right{
		float:left;
		width:47.5%;
		margin:0 0 0 2.5%;
	}
	input[type="submit"], .inline-button{
		background-color:$green;
		border:none;
		display:block;
		padding: 1em!important;
		text-align:center;
		margin:0 auto;
		outline:none;
		-webkit-border:none;
		@include half-em-border-radius;
	}	
	.mc-address-group{
		@include half-second-transition;
		max-height:auto;
		opacity:1;
		&.hidden{
			max-height:0;
			opacity:0;
			@include half-second-transition;
		}
	}

}


#smore{
	display:block;
	position:absolute;
	bottom:0;
	right:0;
	text-align:center;
	padding:1em;
	text-decoration:none;
	border:none;
}

/* ==========================================================================
   Footer
   ========================================================================== */
#site-footer{
    float:left;
	width:100%;
    text-align:center;
	padding:1em 0 0;
	margin:0;
	background-color:$white;
	z-index:-1;
	color:$dark-grey;
	ul{
		color:$text;
		font-size: 1em;
		margin:0 auto;
		max-width:(em(300));			
		li{
			float:left;
			text-align:center;
			margin:1em 0;
			width:33.333%;
			a{
				text-decoration:none;
			}
		 }
	}
.up-arrow-tent{
	position:relative;
	width:4em;
	margin:0 auto;
	flex:none;
	@include quarter-second-transition;	
	&:before{
		box-sizing:border-box;
		position:absolute;
		display:block;
		content:' ';
		height:4em;
		width:4em;
		margin:2em auto;
		border-right:5em solid transparent;
		border-left:5em solid transparent;
		border-bottom:5em solid black;
	}
	
	&:after{
		position:absolute;
		display:block;
		content:' ';
		top:4em;
		//left:-2em;
		z-index:3;
		border-right:2em solid transparent;
		border-left:2em solid transparent;
		border-bottom:2em solid white;
	}
	&:hover{
		&:after{
			top:3.5em;
		}
	}
}		

	#newsletter{
		padding:0 1.6667em 1.6667em 1.6667em;	
		margin: 0 0 1.6667em 0;
			@media screen and (min-width: (em(800))){
			width:39%;
			padding:0 5%;
			float:left;
			}
	}
	#copyright{
		width:100%;
		//border-bottom:1em solid $black;
	}

}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.overflow-hidden{
	overflow:hidden;
}
.full-width{
	padding:0;
	width:100%;
	margin:1.6667em 0;
}
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}