/* COLORS ======= */

$text: #4e4e4e;

$action-color:rgb(67,182,86);
$green:rgb(67,182,86);



$black: #000;
$dark-grey: #222222;
$medium-grey: #888888;
$light-grey: #EEEEEE;
$near-white: #f9f9f9;
$white: #FFF;





/* EMS ======= */

@function em($target, $context: 16) {
    @return ($target / $context) * 1em;
}

@mixin full-bleed-background{
background-position:50% 50%;
background-size:cover;
background-repeat:no-repeat;
}

@mixin quarter-second-transition{
-webkit-transition-duration: .25s;
-moz-transition-duration: .25s;
-ms-transition-duration: .25s;
-o-transition-duration: .25s;
transition-duration: .25s;
}

@mixin half-second-transition{
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-ms-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
transition-duration: 0.5s;
}

@mixin half-em-border-radius{
-webkit-border-radius: .5em;
-moz-border-radius: .5em;
-ms-border-radius: .5em;
-o-border-radius: .5em;
border-radius:.5em;
}

@mixin one-em-border-radius{
-webkit-border-radius: 1em;
-moz-border-radius: 1em;
-ms-border-radius: 1em;
-o-border-radius: 1em;
border-radius:1em;
}

@mixin perfect-circle{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius:50%;
}

@mixin drop-shadow{
-webkit-box-shadow: 0 0.1em 0.4em rgba(0,0,0,0.5); //, 0 0.1em 0.4em $black;
-moz-box-shadow: 0 0.1em 0.4em rgba(0,0,0,0.5); //, 0 0.1em 0.4em $black;
-ms-box-shadow: 0 0.1em 0.4em rgba(0,0,0,0.5); //, 0 0.1em 0.4em $black;
-o-box-shadow: 0 0.1em 0.4em rgba(0,0,0,0.5); //, 0 0.1em 0.4em $black;
box-shadow: 0 0.1em 0.4em rgba(0,0,0,0.5); //, 0 0.1em 0.4em $black;
}

@mixin text-emboss{
text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
-webkit-text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
-moz-text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
-ms-text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
-o-text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
filter: dropshadow(color=#ffffff, offx=1, offy=1);
}

@mixin text-shadow{
text-shadow: 2px 2px 5px rgba(0,0,0,0.95);
-webkit-text-shadow: 2px 2px 5px rgba(0,0,0,0.95);
-moz-text-shadow: 2px 2px 5px rgba(0,0,0,0.95);
-ms-text-shadow: 2px 2px 5px rgba(0,0,0,0.95);
-o-text-shadow: 2px 2px 5px rgba(0,0,0,0.95);
filter: dropshadow(color=#000000, offx=2, offy=2);
}