// MODULES
.frame{
	max-width:(em(800));
	text-align:center;
	padding:2em 4em;
}



//Full Screen / Vertical Centering

.full-screen-container{
	position:relativet;
    display: -webkit-flex;
    display: flex;
	width:100%;
	min-height:(em(400));
}

.full-screen-content{
	margin: auto;
	//max-width:(em(800));
	//padding:1em;
}

.vertical-container {
  display: -webkit-flex;
  display: flex;
  height: 300px;
}
.vertically-centered {
  margin: auto;
}

// Articles, Text Content

article{
	width:100%;
	float:left;
	//max-width:(em(900));
	header{
		width:100%;
		padding:1em;
	}
	section{
		padding:1em;
		max-width:(em(800));
		margin:0 auto;
	}
	@media screen and (min-width:(em(800))){
		
	}
}




// Swipe Classes

.swipe {
  overflow:hidden;
  visibility:hidden;
  position:relative;
}
.swipe-wrap {
  overflow:hidden;
  position:relative;
}
.swipe-wrap > div {
  position:relative;
  float:left;
  width:100%;
}

.nontouchnav{
	position: absolute;
	bottom: 0;
	top:0;
	padding: .25em 0;
	width: 100%;
	z-index: 1000;
	text-align: center;
	font-size: 1.5em;
	overflow: hidden;
	
	@media screen and (min-width:(em(1000))){
		display:block;
	}
	
	div{
		position:absolute;
		color:$medium-grey;
		width: 1.5em;
		cursor:pointer;
		text-align:center;
		top:0;
		bottom:0;
		padding-top:27%;
		
		background-color: rgba(255,255,255,0);
		opacity:0;
		@include quarter-second-transition;
		
		&:hover{
			background-color: rgba(255,255,255,0.75);
			opacity:0.5;
			color:$black;
			@include quarter-second-transition;
		}
	}

	.prev{		
		left:0;
	}
	
	.next{
		right:0;
		//border-left:1px dotted $medium-grey;
	}

}


// Responsive Nav Styles

/*! responsive-nav.js v1.0.15 by @viljamis */

//#nav ul {
//  margin: 0;
//  padding: 0;
//  width: 100%;
//  display: block;
//  list-style: none;
//}
//
//#nav li {
//  width: 100%;
//  display: block;
//}

.js #info-1 {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

#info-1.opened {
  max-height: 9999px;
  padding:0 0 6em 0;
}

.expand {
	font-weight:bold;
  color: white;
  padding: 0;
  border: 0;
  cursor: pointer;
}

a.closed {
	transition:2s;
  
}

a.opened {
	display:block;
	font-size:1.1em;
	
	/* Safari */
	-webkit-transform: rotateY(-180deg);
	-webkit-transform: rotateZ(-45deg);

	/* Firefox */
	-moz-transform: rotateZ(-45deg);

	/* IE */
	-ms-transform: rotateZ(-45deg);

	/* Opera */
	-o-transform: rotateZ(-45deg);

}
