/* 	ADVANCED TYPOGRAPHY STYLES ============================================================================== */

@font-face {
	font-family: 'AlexBloom';
	src:url('../fonts/AlexBloom.eot?-it6lup');
	src:url('../fonts/AlexBloom.eot?#iefix-it6lup') format('embedded-opentype'),
		url('../fonts/AlexBloom.woff?-it6lup') format('woff'),
		url('../fonts/AlexBloom.ttf?-it6lup') format('truetype'),
		url('../fonts/AlexBloom.svg?-it6lup#AlexBloom') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*="icon-"] {
	font-family:'AlexBloom';
	speak: none;
	font-size:1.5em;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: -0.15em;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
	content: "\69";
}
.icon-mail:before {
	content: "\40";
}
.icon-link:before {
	content: "\6c";
}
.icon-clock:before {
	content: "\43";
}
.icon-camera:before {
	content: "\6f";
}
.icon-search:before {
	content: "\73";
}
.icon-microphone:before {
	content: "\2a";
}
.icon-skip-back:before {
	content: "\7b";
}
.icon-rewind:before {
	content: "\3c";
}
.icon-play:before {
	content: "\e052";
}
.icon-pause:before {
	content: "\e053";
}
.icon-stop:before {
	content: "\e054";
}
.icon-fast-forward:before {
	content: "\3e";
}
.icon-skip-forward:before {
	content: "\7d";
}
.icon-location:before {
	content: "\e071";
}
.icon-map:before {
	content: "\e072";
}
.icon-globe:before {
	content: "\77";
}
.icon-share:before {
	content: "\53";
}
.icon-tag:before {
	content: "\23";
}
.icon-maximize:before {
	content: "\4d";
}
.icon-minimize:before {
	content: "\6d";
}
.icon-plus:before {
	content: "\2b";
}
.icon-minus:before {
	content: "\2d";
}
.icon-check:before {
	content: "\221a";
}
.icon-cross:before {
	content: "\58";
}
.icon-menu:before {
	content: "\3d";
}
.icon-open:before {
	content: "\2f";
}
.icon-mail-forward:before {
	content: "\21";
}
.icon-facebook:before {
	content: "\66";
}
.icon-google:before {
	content: "\47";
}
.icon-coffee:before {
	content: "\63";
}
.icon-bomb:before {
	content: "\42";
}
.icon-vimeo:before {
	content: "\56";
}
.icon-twitter:before {
	content: "\54";
}
.icon-instagram:before {
	content: "\49";
}
.icon-tumblr:before {
	content: "\74";
}
.icon-github:before {
	content: "\67";
}
.icon-right:before {
	content: "\52";
}
.icon-up:before {
	content: "\55";
}
.icon-down:before {
	content: "\44";
}
.icon-left:before {
	content: "\4c";
}
.icon-rss:before {
	content: "\72";
}
.icon-alexbloom:before {
	content: "\25ca";
}


body{
	font-family:"adobe-garamond-pro", georgia, times, serif;
}

h1, h2, h3{
	font-family:"proxima-nova-condensed", tahoma, sans-serif;
}


p{
	font-size: 1em;
	@media screen and (min-width:(em(800))){
		font-size: 1.25000em; /* 22.5px */
		line-height: 1.25em; /* 25px */
		margin-top: 1em;  
	    margin-bottom: 1em; 
	}
}

strong{
}

small{
}

blockquote{
	display:block;
	width:100%;
	text-align:center;
	font-style:italic; 
	line-height:150%; 
	font-size:2.5em; 
	float:left;  
	font-style:italic; 
	font-weight:400; 
	padding: 0; 
	margin: .5em 0;
	@media screen and (min-width:(em(500))){
		font-size:3em;
	}
	@media screen and (min-width:(em(800))){
		font-size:3.5em;
	}
	@media screen and (min-width:(em(1400))){
		font-size:5em;
	}
}

blockquote:before{
	//content:"\201c";
	font-size:5em;
	text-indent:-1.25em;
	margin-top:.25em;
	float:left;
}

figure{
	display:block;
	margin:0 auto;
	max-width:(em(800));
}

figcaption{
font-size:1.25em;
padding:1em 0;
line-height:150%;
	@media screen and (min-width:(em(800))){
		font-size:1.5em;
	}
	@media screen and (min-width:(em(1400))){
		font-size:2em;
	}
}

strong{
	font-weight:800;
}

.run-in{
font-size:.8em;
font-weight:700;
text-transform:uppercase;
letter-spacing:.15em;
}

.subscript{
	vertical-align:sub;
	font-size:100%;
	margin-right:.4em;
	letter-spacing:.1em;
	line-height:0em;
}
















